@font-face {
  font-family: 'IBM-Plex';
  src:  url('./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype'),
  url('./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf') format('truetype');
}

body {
  font-family: IBM-Plex;
  padding: 50px;
  background: #f4f4f4;
}

.mt20 {
  margin-top: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.m25 {
  margin: 25px 0;
}
