<div class="container menu-container">

  <div [ngSwitch]="todaysMenu">
    <app-wok
      *ngSwitchCase="'wok'"
      (addToOrder)="addToOrder($event)"
      [fillers]="fillers"
      [misc]="misc"
      [noodles]="noodles"
    >
    </app-wok>
  </div>

  <div class="col-md-12 text-center mt25">
    <span><b>Ваш заказ: </b></span>
    <span *ngFor="let orderItem of order"> {{orderItem.name}} ({{orderItem.price}}) <span *ngIf="orderItem.name !== order[order.length - 1].name">+</span> </span>
    <span> = <b>{{price}}</b> сом</span>
  </div>

  <div class="col-md-12 text-center m25">
    <button class="btn btn-default" (click)="sendOrder()" [disabled]="!price">
      Сделать заказ
    </button>
  </div>

  </div>
