<div class="container menu-container">

  <div class="col-md-4">
    <form>
      <h2>Лапша</h2>

      <div class="form-check" *ngFor="let menuItem of noodles">
        <label>
          <input type="checkbox" (click)="addToOrder(menuItem, $event)" name="radio"> <span class="label-text">{{menuItem.name}} ({{menuItem.price}})</span>
        </label>
      </div>

    </form>
  </div>

  <div class="col-md-4">
    <form>
      <h2>Наполнители</h2>

      <div class="form-check" *ngFor="let menuItem of fillers">
        <label>
          <input type="checkbox" (click)="addToOrder(menuItem, $event)" name="check"> <span class="label-text">{{menuItem.name}} ({{menuItem.price}})</span>
        </label>
      </div>

    </form>
  </div>

  <div class="col-md-4">
    <form>
      <h2>Доп ингридиенты</h2>

      <div class="form-check" *ngFor="let menuItem of misc">
        <label>
          <input type="checkbox" (click)="addToOrder(menuItem, $event)" name="check"> <span class="label-text">{{menuItem.name}} ({{menuItem.price}})</span>
        </label>
      </div>

    </form>
  </div>

  <div class="col-md-12 text-center mt25">
    <span><b>Ваш заказ: </b></span>
    <span *ngFor="let orderItem of order"> {{orderItem.name}} ({{orderItem.price}}) <span *ngIf="orderItem.name !== order[order.length - 1].name">+</span> </span>
    <span> = <b>{{price}}</b> сом</span>
  </div>

  <div class="col-md-12 text-center m25">
    <button class="btn btn-default" (click)="sendOrder()" [disabled]="!price">
      Сделать заказ
    </button>
  </div>

  </div>
